{% extends 'learning_logs/base.html' %}
{% comment %} For authenticated users {% endcomment %}

{% block title %}home | {{ user.username }}{% endblock %}

{% block content %}
  {% include "learning_logs/includes/navbar.html"%}

  <div class="container">
      <div class="topics-container">
          <table id="table-data">
              <thead></thead>
              <tbody></tbody>
          </table>
      </div>
  </div>

  <div class="add-icon" id="add-topic">add</div>
  <div id="popup" class="modal">
  <div class="modal-content">
    <p id="popup-text"></p>
    <input id="popup-input" type="text">
    <button id="popup-ok">OK</button>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    async function main() {
        const add_topic = document.getElementById("add-topic");
        await create_table_data();

        //(Popup)
        add_topic.addEventListener('click', () => {
            async function addTopic (title) {
                sendToServer({endpoint: topic_api, pk: '', method: 'post', data: upload_update_template({msg: title, method: 'post', key: 'topic'})}).then(await create_table_data());
            };
            showPopup("Topic:").then(value => addTopic(value));
        });
    };

    // wait till the DOM Content is fully loaded
    document.addEventListener('DOMContentLoaded', () => main());
</script>
{% endblock %}
